.vscode
docker/secrets/django_superuser_password.txt
docker/secrets/postgres_password.txt
docker/srcs/requirements/backend/conf/auth/__pycache__/*
docker/srcs/requirements/backend/conf/backend/__pycache__/*
docker/srcs/requirements/backend/conf/users/__pycache__/*
docker/srcs/requirements/backend/conf/users/migrations/__pycache__/*