.vscode
docker/secrets/django_superuser_password.txt
docker/secrets/postgres_password.txt
docker/srcs/requirements/backend/venv/
docker/srcs/requirements/backend/conf/backend/__pycache__/*
docker/srcs/requirements/backend/conf/users/__pycache__/*
docker/srcs/requirements/backend/conf/auth/__pycache__/*
docker/srcs/requirements/backend/conf/auth/migrations/*
!docker/srcs/requirements/backend/conf/auth/migrations/__init__.py
docker/srcs/requirements/backend/conf/backend/__pycache__/*
docker/srcs/requirements/backend/conf/users/__pycache__/*
docker/srcs/requirements/backend/conf/games/__pycache__/*
docker/srcs/requirements/backend/conf/games/migrations/*
!docker/srcs/requirements/backend/conf/games/migrations/__init__.py
docker/srcs/requirements/backend/conf/users/migrations/*
!docker/srcs/requirements/backend/conf/users/migrations/__init__.py
docker/srcs/requirements/backend/conf/backend/middleware/__pycache__/*
