.vscode
backend/srcs/backend/venv/
backend/srcs/backend/conf/auth/migrations/*
!backend/srcs/backend/conf/auth/migrations/__init__.py
backend/srcs/backend/conf/games/migrations/*
!backend/srcs/backend/conf/games/migrations/__init__.py
backend/srcs/backend/conf/users/migrations/*
!backend/srcs/backend/conf/users/migrations/__init__.py
backend/avatars/*
!backend/avatars/default.jpg

__pycache__/
*.pyc

secrets.sh
env-file.sh
create_secrets.sh
.env
backend/srcs/requirements/elk/esbackup