.github-icon {
  fill: #000;
}

[data-bs-theme="dark"] .github-icon {
  fill: #fff;
}

.quick-stat {
  background-color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.stat-chart {
  width: 100%;
  max-width: 750px;
}

.shadow-left{
  box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.1);
}

.pointer-button{
  cursor: pointer;
}

.overview-card{
  cursor: pointer;
  animation: shrink 1s forwards;
}

.overview-card:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 1px var(--bs-primary);
  animation: grow 1s forwards alternate;
}

.card-details{
  width: 80%;
  border-radius: 21px 21px 0 0;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.settings-card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 30px -5px rgba(0,0,0,0.2);
}

.settings-icon-container {
  width: 50px;
}

.settings-icon {
  fill: #fff;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}

@media (max-width: 650px) {
  .notification-area {
    width: 80vw;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .notification-area {
    width: 50vw;
  }
}

@media (min-width: 1025px) {
  .notification-area {
    width: 20vw;
  }
}

.avatar-b{
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.avatar-m{
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.avatar-s{
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.avatar-tiny{
  object-fit: cover;
  width: 32px;
  height: 32px;
}