<svg style="display: none;">
    <symbol id="unblock" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="evenodd"
            d="M5.636 18.364A9 9 0 1 0 18.364 5.636A9 9 0 0 0 5.636 18.364m2.171-.757a7.001 7.001 0 0 0 9.8-9.8l-2.779 2.779a1 1 0 0 1-1.414-1.414l2.778-2.779a7.002 7.002 0 0 0-9.799 9.8l2.779-2.779a1 1 0 0 1 1.414 1.414z"
            clip-rule="evenodd" />
    </symbol>
</svg>

<div class="container px-4">
    <div>
        <h4 data-i18n="settings.generalSettings">General settings</h4>
        <!--language-->
        <div class="mb-5">
            <label for="language" class="form-label" data-i18n="settings.language">Language</label>
            <select class="form-select" id="langSelector">
                <option value="EN">🇬🇧 English</option>
                <option value="PT">🇵🇹 Português</option>
                <option value="ES">🇪🇸 Español</option>
            </select>
    </div>
    <div>
        <h4 data-i18n="settings.blockedUsers">Blocked users</h4>
        <p data-i18n="settings.blockedUsersInfo">Here you can see a list of users you have blocked.</p>
        <ul id="blockedUsers" class="list-group">
            <li class="list-group-item d-flex gap-3 py-3">
                <img alt="user avatar" width="50" height="50" class="rounded-circle flex-shrink-0"
                    onerror="this.style.display='none'" style="object-fit: cover;">
                <h5 class="my-auto">[HC] Username</h5>
                <button class="btn btn-primary pb-0 ms-auto">
                    <svg class="mb-1" width="24" height="24">
                        <use xlink:href="#unblock"></use>
                    </svg>
                    [HC] Unblock
                </button>
            </li>
        </ul>
    </div>
</div>

<template>
    <li class="list-group-item d-flex gap-3 py-3">
        <img alt="user avatar" width="50" height="50" class="rounded-circle flex-shrink-0"
            onerror="this.style.display='none'" style="object-fit: cover;">
        <h5 class="my-auto">Username</h5>
        <button class="btn btn-primary pb-0 ms-auto">
            <svg class="mb-1" width="24" height="24">
                <use xlink:href="#unblock"></use>
            </svg>
            Unblock
        </button>
    </li>
</template>